@media screen and (max-width: 1700px) {
}

@media screen and (min-width: 1200px) {
  .roulette-block__img {
    max-width: 70%;
    right: 0%;
    margin-top: 0%;
  }
}

@media screen and (max-width: 1200px) {
  .info-line__store {
    position: static;
    transform: unset;
  }

  .info {
    font-size: 12px;
    flex: 0 0 50%;

  }

  .roulette-block__img {
    max-width: 100%;
  }

  .logo {
    padding: 30px 0 20px;
  }

  .roulette-block {
    margin-right: -15%;
    margin-top: 4%;
    max-width: 70%;

  }
}


@media screen and (max-width: 1000px) {
  .roulette-block__img {
    right: -20%;
  }
}


@media screen and (max-width: 876px) {
  .container {
    min-height: calc(100vh - 163px);
  }

  .logo {
    padding: 20px 0 0;
    justify-content: center;
  }

  .roulette-block__img {
    position: static;
    right: 0;
    bottom: 0;
  }

  .roulette-block__img.mobile {
    display: block;
    width: 100%;
    margin-top: 20px;
  }

  .flex-inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .roulette-block {
    margin-right: 0;
    width: 100%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .footer {
    position: relative;
    display: block;
  }

  .footer-logo {
    display: flex;
    justify-content: space-between;
  }

  .info-footer {
    width: 100%;
  }

  .disclaimer {
    max-width: 100%;
    text-align: justify;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
  }

  .partners {
    display: block;
  }

  .app-links {
    display: flex;
    justify-content: center;
    margin: 25px 0;
  }

  .logo-partner {
    width: 100%;
    margin: 10px 0;
  }

  .copyright {
    margin: 10px 0;

  }
  .info {
    margin-top: 0;
    text-align: center;
  }

  .info-line {
    flex-wrap: wrap;
    text-align: center;
    margin-top: 30px;
  }

  .info-line__parthners {
    flex-basis: 100%;
    margin-bottom: 18px;
  }

  .info-line__store {
    position: static;
    transform: unset;
    flex-basis: 100%;
    margin-bottom: 28px;
    margin-left: 0;
  }

  .info__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .info__currency {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #FF2400 0%, #FF240B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .info__subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-top: 0;
    text-align: center;
    color: #FFFFFF;
  }

  .button-container {
    margin-top: 20px;
  }

  .button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 27px;
    gap: 10px;
    background: linear-gradient(270deg, #00CFA6 0%, #006A3B 100%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    min-width: 104px;
  }
}

@media screen and (max-width: 576px) {

  .btn:hover {
    transform: scale(1);
  }

  .logo {
    padding: 27px 0 20px;
  }


  .logo__img {
    max-width: 218px;
    max-height: 30px;
  }

  .roulette-block__img.mobile {
    margin-top: 7px;
  }

  .info {
    font-size: 8px;
  }

  .info-line {
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .btn-group {
    margin-top: 23px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn {
    font-size: 2em;
    max-width: 90%;
    margin-bottom: 12px;
    width: 90%;
  }

  .info-line__parthners-img {
    max-width: 80%;
  }


}

/*height*/


@media screen and (min-width: 864px) and (max-width: 1024px) {
  .roulette-block__img {
    max-width: 55%;
    right: -5%;
  }

}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .roulette-block__img {
    max-width: 60%;
    margin-top: -7%;
    right: 0%;
  }
  .roulette-block {
    margin-right: -21%;
  }
}
/*landscape phone*/
@media screen and (max-width: 927px) and (min-width: 768px) and (max-height: 430px) {
  .info {
    margin-top: 20px;
    font-size: 8px;
  }

  .roulette-block__img {
    top: 0;
    position: static;
  }

}

